<header class='mb-5 pt-2 container'>
	<div class="row">
    	<div class='col-xs-12 col-sm-6 col-md-3'>
    		<a href="{{ path('index') }}">
    			<img class='header-logo' src="{{ asset('img/header.png') }}"/>
    		</a>
    	</div>
    	<div class='col-xs-12 col-sm-6 col-md-9'>
    		<p class='site-title'>My awesome website</p>
    	</div>
	</div>
	<div class="row">
    	<nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                    	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li><a href="{{ path('logout') }}">Logout</a></li>
                        {% else %}
                            <li><a href="{{ path('login') }}">Login</a></li>
                        {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
    	</nav>
	</div>
</header>
