<header class='mb-5 pt-2 container'>
	<div class='col-xs-12 col-sm-6 col-md-3'>
		<img class='header-logo' src="{{ asset('img/header.png') }}"/>
	</div>
	<div class='col-xs-12 col-sm-6 col-md-9'>
		<p class='site-title'>My awesome website</p>
	</div>
</header>
